<h1> The <%= t('.header', title: @test_passage.test.title)  %> </h1>
<div class="test_result" id=<%= result_outcome(@test_passage)[:status] %>>
  <h2> Your score is <%= @test_passage.correct_answers_percentage %>
  <h2>  <%= result_outcome(@test_passage)[:message] %> </h2>
</div>
