<div class="footer">
  <p><%= link_to 'Связатся с нами', new_contact_path %></p>
  <p>Учебный проект в онлайн-школе <a href="https://thinknetica.com/" target="_blank">Thinknetica</a> <%= current_year %>
  </p>
</div>
