
<div class="header">
  <% if user_signed_in? %>
    <%= link_to 'TestGuru', root_path %>
    <%= link_to 'All tests list', tests_path %>
    <%= link_to 'Badges', user_badges_path %>
    </p>
  <% end %>
</div>
