<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Support request from user: <%= @email_data.name %>with email: <%= @email_data.email %></h1>
    <p>
      Message:
      <%= @email_data.message %><br>
    </p>
    <p>
      Message url: <%= @contact_url %>.
    </p>
  </body>
</html>
